@import "tailwindcss";
@theme {
  --breakpoint-sm: 0rem;
  --breakpoint-md: 40rem;
  --breakpoint-xl: 70rem;
}

.text-preset1 {
  @apply text-5xl leading-[90%] tracking-[-2px] font-semibold;
}

.text-preset2 {
  @apply text-[40px] leading-[100%] tracking-[-2px] font-semibold;
}

.text-preset3-bold {
  @apply text-base leading-[140%] tracking-[7px] font-bold;
}

.text-preset3-semibold {
  @apply text-base leading-[100%] tracking-[-0.7px] font-semibold;
}

.text-preset3-medium {
  @apply text-base leading-[140%] tracking-[-0.5px] font-medium;
}

.text-preset4-medium {
  @apply text-[15px] leading-[100%] tracking-[15.5px] font-medium;
}
